<h1>Things</h1>

<div id="content" data-ng-controller="thingsCtrl">
  <ul class="things-list">
    <li data-ng-repeat="thing in things" class="large-4 medium-6 small-12 columns left">
      <a href="{{thing.url}}" class="container large-11 medium-11 small-11 columns">
        <img data-ng-src="{{thing.image_url}}" alt="{{thing.name}}" title="{{thing.name}}" />
        <span>{{thing.name}}</span>
      </a>
    </li>
  </ul>
</div>