// Place all the styles related to the opinions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:  http: //sass-lang.com/

$empty-star-url: 'data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=';
$empty-star-url-outlined: 'data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBzdHJva2U9IiM4ODg4ODgiIHN0cm9rZS13aWR0aD0iMSIgcG9pbnRzPSIxMCwwIDEzLjA5LDYuNTgzIDIwLDcuNjM5IDE1LDEyLjc2NCAxNi4xOCwyMCAxMCwxNi41ODMgMy44MiwyMCA1LDEyLjc2NCAwLDcuNjM5IDYuOTEsNi41ODMgIi8+PC9zdmc+';

$full-star-url: 'data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGRlZnM+CiAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQxIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iOTAlIj4KICAgICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3R5bGU9InN0b3AtY29sb3I6I2ZmZGY4ODtzdG9wLW9wYWNpdHk6MSIgLz4KICAgICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjojZmY5OTY2O3N0b3Atb3BhY2l0eToxIiAvPgogICAgPC9saW5lYXJHcmFkaWVudD4KICA8L2RlZnM+Cjxwb2x5Z29uIGZpbGw9InVybCgjZ3JhZDEpIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=';

.star-rating {
  margin: 0;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 150px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background: url($empty-star-url-outlined);
  background-size: auto 100%;

  h1 & {
    display: block;
  }

  &.prior {
    width: 100px;
    height: 20px;
  }

  span {
    display: block;
    height: 100%;
    background: url($full-star-url);
    background-size: auto 100%;
  }

  i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url($full-star-url);
    background-size: auto 100%;
  }

  input{
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;

    &:hover + i {
      opacity: 1;
    }
    &.two:hover + i {
      width: 40%;
    }
    &.three:hover + i {
      width: 60%;
    }
    &.four:hover + i {
      width: 80%;
    }
    &.five:hover + i {
      width: 100%;
    }
    &:checked + i {
      opacity: 1;
    }
    &.two:checked + i {
      width: 40%;
    }
    &.three:checked + i {
      width: 60%;
    }
    &.four:checked + i {
      width: 80%;
    }
    &.five:checked + i {
      width: 100%;
    }
  }
}

ul.opinions-list {
  list-style-type: none;
  padding: 1em 1em 1em 2em;
  margin: 0 0 1em 0;
  border: 2px solid #bbb;
  border-radius: 10px;

  li {
    padding: 0;
    margin: 0;
    text-indent: -1em;
  }
}

q {
  display: block;
  line-height: 110%;
  margin-top: -0.3em;
}

cite {
  display: block;
  text-indent: 30%;
  margin-bottom: .5em;
}

fieldset {
  border: 2px solid #bbb;
  border-radius: 10px;
}

span.opinion-created-at {
  font-size: 80%;
  opacity: .6;
  margin-left: 1em;
  position: relative;
  top: -.3em;
}